.moving-text-button {
  overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
  font-size: 1.875rem;
  color: rgb(49, 48, 48);
  border: none;
  cursor: pointer;
  width: 55rem;
  text-align: center;
}

/* Define the animation class */
.scroll-rtl {
  animation: scroll-rtl 30s linear infinite;
}

/* Define the keyframes for the animation */
@keyframes scroll-rtl {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-90%);
  }
}