.moving-text-button {
  overflow: hidden;
  font-size: 1.875rem;
  color: rgb(49, 48, 48);
  width: 50rem;
}

/* Define the animation class */
.scroll-rtl {
  white-space: nowrap;
  position: absolute;
  animation: scroll-rtl 10s linear infinite;
}

/* Define the keyframes for the animation */
@keyframes scroll-rtl {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}